:root {
	--sl-color-accent-low: #1e1e2e;
	--sl-color-accent: #8b5cf6;
	--sl-color-accent-high: #f5f3ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e2e8f0;
	--sl-color-gray-2: #cbd5e1;
	--sl-color-gray-3: #94a3b8;
	--sl-color-gray-4: #64748b;
	--sl-color-gray-5: #475569;
	--sl-color-gray-6: #334155;
	--sl-color-black: #0f172a;
}

[data-theme='dark'] {
	--sl-color-accent-low: #3c1e5e;
	--sl-color-accent: #a78bfa;
	--sl-color-accent-high: #ddd6fe;
	--sl-color-bg: #0f0f12;
	--sl-color-bg-nav: #16161a;
	--sl-color-bg-sidebar: #16161a;
	--sl-color-hairline-light: #3f3f46;
}
